<!DOCTYPE html>
<html>

<%- include('../partials/header'); -%>

<head>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/tahmin-et.css">
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
</head>

<body>
	<%- include('../partials/navbar'); -%>
	<br>
    <% if (matches.length == 0) { %>
        <p style="text-align: center;">No upcoming matches.</p>
    <% } %>
    <% for (var i = 0; i < matches.length; i++) { %>
        <%- include('../partials/predict-match-one', {
            match: matches[i],
            link_text: "Gerçek Skoru Gir"
        }); -%>
    <% } %>
</body>

</html>