<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header'); -%>

<head>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
	<link rel="stylesheet" href="/public/css/tahmin-et-form.css">
</head>

<body>
	<%- include('../partials/navbar'); -%>

	<%- include('../partials/predict-form', {
		match: match,
		post_location: "/admin/score",
	}); -%>
</body>

</html>