<!DOCTYPE html>
<html>

<%- include('../header'); -%>

<head>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/user.css">
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
	<link rel="stylesheet" href="/public/css/register-form.css">
</head>

<body>
	<%- include('../navbar'); -%>
	<br>
	<div class="login-form text-center">
		<h1>Add Team</h1>
        <p>If you try to add a team that already exists, its logo will be updated.</p>
		<form action="/admin/team" method="POST" autocomplete="off">
			<input type="text" name="team_name" placeholder="Team Name" required>
            <input type="text" name="team_logo" placeholder="Logo Address">
			<button type="submit">Add</button>
			<a href="/admin" style="float:right">Go back to admin panel</a>
		</form>
		<br>
        <p>Current number of teams: <%= teamCount %></p>
	</div>
</body>

</html>