<!DOCTYPE html>
<html>

<%- include('../partials/header'); -%>

<head>
    <title>Kullanıcı Adı Değiştir</title>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/user.css">
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
    <link rel="stylesheet" href="/public/css/register-form.css">
</head>

<body>
    <%- include('../partials/navbar'); -%>
    <br>
    <form action="/account/change_username" method="POST" class="login-form text-center">
        <input type="text" name="new_username" placeholder="Yeni Kullanıcı Adı" autocomplete="off" required>
        <input type="password" name="password" placeholder="Şifre" autocomplete="off" required>
        <button type="submit" class="text-center">Kullanıcı Adı Değiştir</button>
    </form>
</body>

</html>