<!DOCTYPE html>
<html>

<%- include('../partials/header'); -%>

<head>
    <title>Şifre Değiştir</title>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/user.css">
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
    <link rel="stylesheet" href="/public/css/register-form.css">
</head>

<body>
    <%- include('../partials/navbar'); -%>
    <br>
    <form action="/account/change_password" method="POST" class="login-form text-center">
        <input type="password" name="old_password" placeholder="Eski Şifre" autocomplete="off" required>
        <input type="password" name="new_password" placeholder="Yeni Şifre" autocomplete="off" required>
        <input type="password" name="confirm_new_password" placeholder="Yeni Şifre Tekrar" autocomplete="off" required>
        <button type="submit" class="text-center">Şifre Değiştir</button>
    </form>
</body>

</html>