<!DOCTYPE html>
<html>

<%- include('../header'); -%>

<head>
	<title>Login</title>
	<link rel="stylesheet" href="/public/css/register-form.css">
</head>

<body>
	<%- include('../navbar'); -%>
	<br>
	<div class="login-form text-center">
		<h1>Login Form</h1>
		<form action="/account/auth" method="POST">
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
			<button type="submit">Login</button>
			<a href="/account/register" style="float:right">You don't have an account?</a>
		</form>
		<br>
	</div>
</body>

</html>