<!DOCTYPE html>
<html>

<head>
	<%- include('../header'); -%>
	<!-- css -->
	<link rel="stylesheet" href="/public/css/user.css">
	<link rel="stylesheet" href="/public/css/neutral-navbar.css">
	<link rel="stylesheet" href="/public/css/register-form.css">
	<title>Login</title>
</head>

<body>
	<%- include('../navbar'); -%>

	<!-- register -->
	<div class="login-form text-center">
		<form action="/account/auth" method="POST">
			<input type="text" name="username" placeholder="Kullanıcı Adı" required>
			<input type="password" name="password" placeholder="Şifre" required>
			<input type="password" name="password" placeholder="Şifre Tekrar" required>
			<button type="submit">Kaydol</button>
			<a href="/account/register">Zaten bir hesabın var mı? Giriş Yap!</a>
		</form>
	</div>
    <!-- register-end -->
</body>

</html>