<div class="navbar">

    <div class="navbar-left">

        <div class="puan-durumu"> <a href="/">Puan Tablosu</a> </div>
        <div class="euro2020"> <a href="">Euro2020 <i class="fas fa-chevron-down"></i></a> </div>
        <div class="tahmin-et"> <a href="/tahmin-et">Tahmin Et</a> </div>

    </div>

    <div class="navbar-user"> <a href="/user"><i class="fas fa-user-circle"></i></a></div>

    

</div>

    <!-- tiny-navbar -->
    <div class="tiny-navbar">
            
        <div class="tiny-navbar-left">
        </div>

        <div class="tiny-navbar-menu">
            <button onclick="myFunction()" class="hmbrgr-menu"><i class="fas fa-bars"></i></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/">Puan Tablosu</a>
                <a href="/tahmin-et">Tahmin Et</a>
                <% if (loggedin) { %>
                    <a href="/user">Hesap</a>
                <% } else { %>
                <a href="/account/login">Giriş Yap</a>
                <a href="/account/register">Kaydol</a>
                <% } %>
            </div>
        </div>

    </div>

    <script src="../../public/js/dropdown.js" async defer></script>
    <!-- tiny-navbar-end -->