<!DOCTYPE html>
<html>

<%- include('header'); -%>

<head>
	<title>Homepage</title>
	<!-- css -->
    <link rel="stylesheet" href="/public/css/user.css">
    <link rel="stylesheet" href="/public/css/neutral-navbar.css">
</head>

<body>
	<%- include('navbar'); -%>
	<div style="text-align: center;">
		<br>
		<p1><%= message %></p1>
	</div>
</body>

</html>