<!DOCTYPE html>
<html>

<%- include('header'); -%>

<head>
	<title>Homepage</title>
</head>

<body>
	<%- include('navbar'); -%>
	<div style="text-align: center;">
		<br>
		<p1><%= message %></p1>
	</div>
</body>

</html>