<div class="navbar">

    <div class="navbar-left">

        <div class="puan-durumu"> <a href="">Puan Tablosu</a> </div>
        <div class="euro2020"> <a href="euro2020.html">Euro2020 &nbsp <i class="fas fa-chevron-down"></i></a> </div>
        <div class="tahmin-et"> <a href="tahmin-et.html">Tahmin Et</a> </div>

    </div>

    <div class="navbar-user"> <a href="user.html"><i class="fas fa-user-circle"></i></a></div>

</div>