<div class="navbar">

    <div class="navbar-left">

        <div class="puan-durumu"> <a href="/">Puan Tablosu</a> </div>
        <div class="euro2020"> <a href="/euro2020">Euro2020 <i class="fas fa-chevron-down"></i></a> </div>
        <div class="tahmin-et"> <a href="/tahmin-et">Tahmin Et</a> </div>

    </div>

    <div class="navbar-user"> <a href="/user"><i class="fas fa-user-circle"></i></a></div>

</div>