<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header'); -%>

    <!-- css -->
    <link rel="stylesheet" href="../../public/css/user.css">
    <link rel="stylesheet" href="../../public/css/neutral-navbar.css">
</head>

<body>
    <%- include('navbar'); -%>
    <div style="text-align: center;">
        <p><%= username %> has <%= points %> points.</p>
        <br>
        <% if(self) { %>
        <a href="/account/logout">Çıkış Yap</a>
        <br>
        <a href="/account/change_username">Kullanıcı Adı Değiştir</a>
        <br>
        <a href="/account/change_password">Şifre Değiştir</a>
        <% } %>
    </div>
</body>