
body {
    font-family: Roboto Slab;
    margin: 0;
    margin-bottom: 100px;
    background-color: #F5F3F1;
}

/* navbar */
.navbar {
    display: flex;
    margin: 0;
    height: 48px;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar div {
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #393939;
    margin: 0;
    height: 48px;
}

.navbar-left {
    flex-grow: 1;;
    display: flex;
}

.navbar-left div {
    font-size: 1.5rem;
    flex-grow: 1;
}

.navbar a {
    text-decoration: none;
    color: #393939;
    display: block;
    line-height: 2;
    width: 100%;
    text-align: center;
}

.navbar-left .fa-chevron-down {
    font-size: 1.25rem;
}

.puan-durumu {
    border-right: solid #F5F3F1;
}

.puan-durumu:hover {
    background-color: #74BD15;
}

.puan-durumu:hover > a {
    color: #F5F3F1;
}

.euro2020 {
    border-right: solid #F5F3F1;
}

.euro2020:hover {
    background-color: #268E9D;
}

.euro2020:hover > a {
    color: #F5F3F1;
}

.tahmin-et {
    border-right: solid #F5F3F1;
}

.tahmin-et:hover {
    background-color: #803767;
}

.tahmin-et:hover > a {
    color: #F5F3F1;
}

.navbar-user {
    flex-basis: 48px;
    text-align: center;
    line-height: 48px;
}

.navbar-user .fa-user-circle {
    font-size: 2rem;
    line-height: 1.5;
}

.navbar-user:hover {
    background-color: #F8AA10;
}

.navbar-user:hover > a {
        color: #F5F3F1;
}

.tiny-navbar {
    display: none;
}

@media (max-width: 649px) {
  
    .navbar {
        display: none;
    }

    .tiny-navbar {
        display: flex;
        background-color: #e4e4e4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #393939;
        margin: 0;
        height: 48px;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .tiny-navbar-left {
        display: flex;
        flex-grow: 1;
    }

    .tiny-navbar-menu {
        display: inline-block;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
    }

    .tiny-navbar-menu .fa-bars {
        pointer-events:none;
        font-size: 2rem;
        color: #393939;
    }

    .hmbrgr-menu {
        border: none;
        outline: none;
        height: 48px;
        width: 48px;
        background-color: #e4e4e4;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #e4e4e4;
        min-width: 160px;
        z-index: 1;
        text-align: right;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }

      .dropdown-content a {
        display: block;
        text-decoration: none;
        color: #393939;
        padding: 12px 16px;
        border-bottom: #878787 solid 1px;
        
      }

      .dropdown-content a:hover {
        background-color: #F5F3F1;
      }

      .show {display:block;}
}
/* navbar-end */

