
/* navbar */
.navbar-left .puan-durumu {
    background-color: #74BD15;
    border-right: solid #F5F3F1;
}

.navbar .navbar-left .puan-durumu a {
    color: #F5F3F1;
}
/* navbar-end */


/* tiny-leaderboard */
.tiny-leaderboard {
    display: none;
    margin: 50px auto;
    font-size: 1rem;
    min-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

thead tr {
  position: sticky;
  top: 48px;
}

  .tiny-leaderboard th {
    font-weight: normal;
    background-color: #F5F3F1;
    color: #393939;
    text-align: center;
    border-bottom: 2px solid #878787;
  }

  .tiny-leaderboard th:last-of-type {
    font-weight: bold;
  }

  .tiny-leaderboard th,
  .tiny-leaderboard td {
    padding: 12px 15px;
  }
  
  .tiny-leaderboard td {
    border-bottom: 1px solid #878787;
    text-align: center;
    color: #393939;
  }

  .tiny-leaderboard tbody tr .username-column {
      text-align: left;
      font-weight: bold;
  }

  .tiny-leaderboard tbody tr .username-column a {
      text-decoration: none;
      color: #393939;
  }

  .tiny-leaderboard tbody tr .username-column a:hover {
    text-decoration: none;
    color: #74BD15;
}


  .tiny-leaderboard tbody tr .points-column {
    font-weight: bold;
  }
  
  .tiny-leaderboard tbody tr:nth-of-type(even) {
    background-color: #e4e4e4;
  }
/* tiny-leaderboard-end */

/* leaderboard */
.leaderboard {
    margin: 100px auto;
    font-size: 1.25rem;
    min-width: 1200px;
    border-collapse: separate;
    border-spacing: 0;
  }

  @media (max-width: 1200px) {
      .leaderboard {
        min-width: 100%;
        margin: 50px auto;
      }
  }
  
  @media (max-width: 650px) {
    .leaderboard {
        font-size: 1rem;
    }
}

    @media (max-width: 359px) {
      
        .leaderboard {
           display: none;
       }

        .tiny-leaderboard {
            display: table;
            min-width: 100%;
        }
  }

  .leaderboard th {
    background-color: #F5F3F1;
    color: #393939;
    text-align: center;
    font-weight: normal;
    border-collapse: separate;
    border-bottom: 2px solid #878787;
  }

  .leaderboard th:last-of-type {
    font-weight: bold;
  }

  .leaderboard th,
  .leaderboard td {
    padding: 12px 15px;
  }
  
  .leaderboard td {
    border-bottom: 1px solid #878787;
    text-align: center;
    color: #393939;
  }

  .leaderboard tbody tr .username-column {
      text-align: left;
      font-weight: bold;
  }

  .leaderboard tbody tr .username-column a {
      text-decoration: none;
      color: #393939;
  }

  .leaderboard tbody tr .username-column a:hover {
    text-decoration: none;
    color: #74BD15;
  }

  .leaderboard tbody tr .points-column {
    font-weight: bold;
  }
  
  .leaderboard tbody tr:nth-of-type(even) {
    background-color: #e4e4e4;
  }
  

  /* leaderboard-end */