
/* navbar */
.navbar-left .tahmin-et {
    background-color: #803767;
    border-right: solid #F5F3F1;
}

.navbar .navbar-left .tahmin-et a {
    color: #F5F3F1;
}
/* navbar-end */

/* predict */
.predict-match {
    display: flex;
    height: 72px;
    margin: 25px auto 0;
    max-width: 100%;
    justify-content: center;
}

.predict-match img {
    height: 48px;
    width: 48px;
}

.predict-match div {
    background-color: #e4e4e4;
    display: flex;
    color: #393939;
    margin: 0;
    line-height: 4.5;
    align-items: center;
}

.predict-match .match-time {
    flex-grow: 1;
    justify-content: center;
    flex-basis: 0;
    border-left: solid #F5F3F1;
    border-right: solid #F5F3F1;
    line-height: 1.5rem;
    text-align: center;
}

.teams {
justify-content: center;
flex-grow: 6;
flex-basis: 0;
}

.tahmin-et-buton {
    flex-grow: 2;
    justify-content: center;
    flex-basis: 0;
    border-left: solid #F5F3F1;
    border-right: solid #F5F3F1;
}

.tahminleri-gör-buton {
    flex-grow: 2;
    justify-content: center;
    flex-basis: 0;
    border-right: solid #F5F3F1;
    color: #c2c2c2;
}

.tahmin-et-buton a {
    color: #393939;
    text-decoration: none;
}

.tahminleri-gör-buton a {
    color: #c2c2c2;
    text-decoration: none;
    cursor: not-allowed;
}

.tahmin-et-buton:hover {
    background-color: #803767;
}

.tahmin-et-buton:hover > a {
    color: #F5F3F1;
}

.predict-match a {
    line-height: 4.5;
    display: block;
    width: 100%;
    text-align: center;
}

@media (max-width: 850px) {
    .predict-match {
        display: none;
    }
}
/* predict-end */

/* tiny-predict */
.tiny-predict-match {
    margin-top: 25px;
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.75rem;
}

.tiny-predict-match img {
    height: 32px;
    width: 32px;
    margin: 0;
}

.tiny-predict-match div {
    background-color: #e4e4e4;
    display: flex;
    color: #393939;
    margin: 0;
    align-items: center;
}

.tiny-predict-match .tiny-predict-match-first-row {
    width: 100%;
    display: flex;
    height: 48px;
}

.tiny-predict-match .tiny-predict-match-second-row {
    border-top: solid #F5F3F1;
    width: 100%;
    display: flex;
    height: 48px;
}

.tiny-predict-match .tiny-match-time {
    flex-grow: 1;
    justify-content: center;
    flex-basis: 0;
    border-left: solid #F5F3F1;
    border-right: solid #F5F3F1;
    line-height: 1rem;
    text-align: center;
    height: 48px;
}

.tiny-teams {
    justify-content: center;
    flex-grow: 6;
    flex-basis: 0;
}

.tiny-tahmin-et-buton {
    flex-grow: 1;
    justify-content: center;
    flex-basis: 0;
    border-right: solid #F5F3F1;
    height: 48px;
}

.tiny-tahminleri-gör-buton {
    flex-grow: 1;
    justify-content: center;
    flex-basis: 0;
    color: #c2c2c2;
    height: 48px;
}

.tiny-tahmin-et-buton a {
    color: #393939;
    text-decoration: none;
}

.tiny-tahminleri-gör-buton a {
    color: #c2c2c2;
    text-decoration: none;
    cursor: not-allowed;
}

.tiny-tahmin-et-buton:hover {
    background-color: #803767;
}

.tiny-tahmin-et-buton:hover > a {
    color: #F5F3F1;
}

.tiny-predict-match a {
    line-height: 3;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
}

@media (min-width: 851px) {
    .tiny-predict-match {
        display: none;
    }
}

@media (min-width:650px) {

    .tiny-predict-match {
        font-size: 1rem;
    }

    .tiny-predict-match a {
        font-size: 1rem;
    }
}

/* tiny-predict-end */