
/* navbar */
.navbar-left .tahmin-et {
    background-color: #803767;
    border-right: solid #F5F3F1;
}

.navbar .navbar-left .tahmin-et a {
    color: #F5F3F1;
}
/* navbar-end */

/* predict-form */
.predict-match-form {
    margin-top: 25px;
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.75rem;
}

.predict-match-form img {
    height: 48px;
    width: 48px;
    margin: 0;
}

.predict-match-form div {
    background-color: #e4e4e4;
    display: flex;
    color: #393939;
    margin: 0;
    align-items: center;
}

.predict-match-form .predict-match-form-first-row {
    width: 100%;
    display: flex;
    height: 72px;
}

.predict-match-form .predict-match-form-second-row {
    border-top: solid #F5F3F1;
    width: 100%;
    display: flex;
    height: 72px;
    border-bottom: solid #F5F3F1;
}

.predict-match-form .ilk-yari, .predict-match-form .mac-sonu {
    flex-grow: 1;
    justify-content: center;
    flex-basis: 0;
    border-left: solid #F5F3F1;
    border-right: solid #F5F3F1;
    line-height: 1rem;
    text-align: center;
    height: 72px;
    max-width: 110px;
}

.home-team, .away-team {
    flex-grow: 2.5;
    flex-basis: 0;
}

.home-team {
    justify-content: flex-end;
}

.away-team {
    justify-content: start;
}

@media (min-width: 651px) {

    .predict-match-form .ilk-yari, .predict-match-form .mac-sonu {
        flex-grow: 1;
        justify-content: center;
        flex-basis: 0;
        border-left: solid #F5F3F1;
        border-right: solid #F5F3F1;
        line-height: 1rem;
        text-align: center;
        height: 72px;
        max-width: 110px;
        display: flex;
    }

    .predict-match-form .iy, .predict-match-form .ms {
        display: none;
    }

    .predict-match-form .line {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-basis: 16px;
    }
}

.score-input {
    width: 2rem;
    height: 2rem;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F5F3F1;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
}

.score-input:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
.score-input::-webkit-outer-spin-button,
.score-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.score-input[type=number] {
  -moz-appearance: textfield;
}

.submit-btn {
    height: 48px;
    width: 220px;
    float: right;
    font-family: Roboto Slab;
    font-size: 1rem;
    border: none;
    background-color: #803767;
    color: #F5F3F1;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #a55188;
}

@media (min-width: 851px) {
    .predict-match-form {
        display: flex;
    }
}

@media (min-width:650px) {

    .predict-match-form {
        font-size: 1rem;
    }

    .predict-match-form a {
        font-size: 1rem;
    }
}

@media (max-width: 650px) {

    .submit-btn {
        height: 48px;
        width: 100%;
    }

    .predict-match-form img {
        height: 32px;
        width: 32px;
        margin: 0;
    }

    .score-input {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
        margin-left: 2px;
        margin-right: 2px;

    }

    .predict-match-form .line {
        display: none;
    }

    .predict-match-form .iy, .predict-match-form .ms {
        flex-grow: 0.5;
        justify-content: center;
        flex-basis: 0;
        border-left: solid #F5F3F1;
        border-right: solid #F5F3F1;
        line-height: 1rem;
        text-align: center;
        height: 48px;
        max-width: 32px;
    }

    .predict-match-form .ilk-yari, .predict-match-form .mac-sonu {
        display: none;
    }

    .home-full-time-prediction,
    .away-full-time-prediction,
    .home-first-half-prediction,
    .away-first-half-prediction {
        flex-basis: 26px;
    }

    .predict-match-form .predict-match-form-first-row {
        height: 48px;
    }
    
    .predict-match-form .predict-match-form-second-row {
        height: 48px;
    }


}

/* predict-form-end */