
/* navbar */
.navbar .navbar-user {
    flex-basis: 48px;
    background-color: #F8AA10;
}

.navbar-user .fa-user-circle {
    font-size: 2rem;
    color: #F5F3F1;
}

.tiny-navbar {
    display: none;
}
/* navbar-end */