
/* navbar */

body {
    font-family: Roboto Slab;
    margin: 0;
    background-color: #F5F3F1;
}

.navbar {
    display: flex;
    margin: 0;
    height: 48px;
}

.navbar div {
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #393939;
    margin: 0;
    height: 48px;
}

.navbar-left {
    flex-grow: 1;;
    display: flex;
}

.navbar-left div {
    font-size: 1.5rem;
    flex-grow: 1;
}

.navbar a {
    text-decoration: none;
    color: #393939;
}

.navbar-left .fa-chevron-down {
    font-size: 1.25rem;
}

.puan-durumu {
    border-right: solid #F5F3F1;
}

.puan-durumu:hover {
    background-color: #74BD15;
}

.puan-durumu:hover > a {
    color: #F5F3F1;
}

.euro2020 {
    border-right: solid #F5F3F1;
}

.euro2020:hover {
    background-color: #268E9D;
}

.euro2020:hover > a {
    color: #F5F3F1;
}

.tahmin-et {
    border-right: solid #F5F3F1;
}

.tahmin-et:hover {
    background-color: #803767;
}

.tahmin-et:hover > a {
    color: #F5F3F1;
}

.navbar .navbar-user {
    flex-basis: 48px;
    background-color: #F8AA10;
}

.navbar-user .fa-user-circle {
    font-size: 2rem;
    color: #F5F3F1;
}

.tiny-navbar {
    display: none;
}

@media (max-width: 650px) {
  
    .navbar {
        display: none;
    }

    .tiny-navbar {
        display: flex;
        background-color: #e4e4e4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #393939;
        margin: 0;
        height: 48px;
    }

    .tiny-navbar-left {
        display: flex;
        flex-grow: 1;
    }

    .tiny-navbar-menu {
        display: flex;
        flex-basis: 48px;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
    }

    .tiny-navbar-menu .fa-bars {
        font-size: 2rem;
        color: #393939
    }
}